.sectorFlex {
    display: flex;
    gap: 30px;
    justify-content: center;

}

.sectorFlex img {
    width: 100%;
}

.sectorFlex p {
    color: var(--gray);   
}

@media (max-width: 1023px) {
    .sectorFlex{
        flex-direction: column;
    }

}

.enviroments {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 100px 20px ;
}

.enviroments p {
    max-width: 738px ;
}