.openBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.ulDiv {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.ul li {
    list-style: disc;

}


.titleDiv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titleDiv img {
    position: absolute;
    top: 0;
    left: 9%;
}

.gap {
    margin-top: 6.25rem;
}

@media (max-width: 1440px) {
    .titleDiv img {
        position: relative;
        left: 0;
    }

    .titleDiv h1 {
        width: 100%;
        margin-left: 0px;
    }

}

@media (max-width: 1024px) {

    .titleDiv img {
        position: relative;
        left: 0;
        width: 30%;
    }

    .barDiv {
        width: 100%;
    }

    .barDiv img {
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .details {
        padding: 20px;

    }

    .openBar {
        flex-direction: column;
    }

    .titleDiv img {
        display: none;
    }

}