.btn {
    max-width: 180px;
    width: 100%;
    padding: 10px 15px;
    height: 2.5rem;
    color: var(--white);
    background: var(--color-button);
    background: linear-gradient(90deg, var(--color-button) 0%, var(--black) 100%);
    border: none;
    border-radius: 0.625rem;
}

.btn:hover {
    cursor: pointer;
    opacity: .85;
}