.btn {
    max-width: 400px;
    width: 100%;
    padding: 10px 15px;
    height: auto;
    color: var(--white);
    background-color: var(--color-button);
    border: none;
    border-radius: 0.625rem;
    font-size: 1.25rem;
}

.btn:hover {
    cursor: pointer;
    opacity: .85;
}