.container {
  max-width: 1140px;
  margin: 0 auto;
}

.flexCenter {
  justify-self: center;
  align-self: center;
}

.flexEnd {
  align-self: end;
  justify-self: end;
}

.flexStart {
  align-self: start;
  justify-self: start;
}
