.title {
    font-weight: bold;
    line-height: 1.4;
}

.title.sm {
    font-size: 1.25rem;
}

.title.md {
    font-size: 1.5rem;
}

.title.lg{
    font-size: 2rem;
}

.highlight {
    color: var(--color-button);
}

.center{
    text-align: center;
}

.end{
    text-align: end;
}
.start{
    text-align: start;
}

.paragraphy {
    line-height: 1.8;
    font-size: 1rem;
    font-weight: 500;

}