.videoContainer {
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 50px;
  height: auto;
}

.videoCover {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.videoCoverImage {
  width: 100%;
  height: auto;
}


.playbtn {
  position: absolute;
  background-image: url(../../assets/icon/play-icon.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  border: none;
  width: 100px;
  height: 100px;
  opacity: .6;
  cursor: pointer;
 
}

.video {
  width: 100%;
}