.boxSection {
    width: 100%;
    padding: 1.875rem 0;
    margin: 3.125rem 0;
    background-image: url(../../assets/imgs/camarote.png);
    background-position: center;
    background-size: cover;
}

.boxTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 25px;
    text-align: justify;

}

.boxTxt div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 450px;
}


.boxList li {
    margin-left: 30px;
    list-style: disc;
}

@media (max-width: 500px ) {
    .boxTxt {
        flex-direction: column;
        gap: 50px;
    }
}